flask==2.2.2
numpy==1.24.1
pandas==1.5.2
pyyaml==5.4.1
flask_wtf == 1.1.1


#pip install -r requirements.txt
#pip install -e . #what is going on? why it's reffers to  "Running setup.py develop for app-project"
#Successfully installed app-project-1.0


